[Desktop Entry]
Name=Dalc
Comment=Advanced scientific calculator
Comment[pl]=Zaawansowany kalkulator naukowy
Icon=
Exec=dalc
Terminal=true
Type=Application
Categories=ConsoleOnly;Utility;Calculator;
# vi: encoding=utf-8
